@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: Lexend;
}

body {
    background: radial-gradient(circle at 20% 30%, #00c4a733 0%, transparent 40%),
        radial-gradient(circle at 80% 70%, #06a6d633 0%, transparent 40%),
        linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    min-height: 100vh;
    color: var(--text-light);
    line-height: 1.6;
}